<div class="container">
    <!-- row 1 -->
    <div class="row">
        <!-- col 1 -->
        <div class="col-sm">
            <div class="card">
                <h5 class="card-header">Host Info {{#each firstName}}</h5>
                <div class="card-body" style="height: 280px;">
                    <p>State {{#each city}}</p>
                    <p>Country {{#each country}}</p>
                    <p></p>
                </div>
            </div>
        </div>
        <!-- col 2 -->
        <div class="col-sm">
            <div class="card">
                <h5 class="card-header">Event Info</h5>
                <div class="card-body" style="height: 280px;">
                    <form>
                        <div class="form-group">
                            <label for="InputDate">Date {{#each eventDate}}</label>

                        </div>
                        <div class="form-group">
                            <label for="InputTime">Time {{#each eventTime}}</label>

                        </div>
                        <div class="form-group">
                            <label for="InputGuest">Guests {{#each event }}</label>
                            <input type="number" class="form-control" id="InputGuest" aria-describedby="Guest">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- row 2 -->
    <div class="row mt-5">
        <div class="col-sm">
            <div class="card">
                <h5 class="card-header">My Menu</h5>
                <div class="card-body">
                    <p class="card-text">{{#each eventMenu}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm">
            <div class="card">
                <h5 class="card-header">Host Bio</h5>
                <div class="card-body">
                    <p class="card-text">{{#each eventMenu}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2">
            <button type="submit" value="Submit" class="btn btn-primary">Book</button>
        </div>
    </div>
</div>