<div class ="container">
<div class="row">
  <section class="navigation">
    <div class="nav-container">
      <div class="brand">
        <a href="./index.html">
        <img src="/img/logo2.png" style="height: 50px; float: left;" alt="Logo">Travelling Tables </a>
        </div>

  </section>
  <nav>
    <div class="nav-mobile">
      <a id="nav-toggle" href="#!">
        <span></span>
      </a>
    </div>
    <ul class="nav-list">
      <li>
      <li><a href="./loginBtn">Login</a></li>
      <li><a href="./signUpBtn">Sigup</a></li>
      </li>
    </ul>
  </nav>


    </section>

    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!">
          <span></span>
        </a>
      </div>
      <ul class="nav-list">
        <li>
        <li><a href="../loginBtn">Login</a></li>
        <li><a href="../signUpBtn">Sigup</a></li>
        </li>
      </ul>
    </nav>

  </div>
  </section>
</div>
<br>
<figure>
  <div class="row wall center">
    <h2 class="main_title">Travelling Tables</h2>
  </div>
  <br>
  <figcaption>Connecting Diners Who Want To Share A Home Cooked Authentic Meal.</figcaption>
</figure>
<br>
<br>
<div class="container">
  <div class="row">
    <h3 class="center" data-aos="fade-right" data-aos-duration="3000">HOW IT WORKS</h3>
    <hr>
  </div>
  <div class="row center">
    <div class="col col-1-3">
      <div class="row">
        <img style="height: 70px;" src="/img/calendar.png" />
      </div>
      <div class="row">
        <h3>PICK A DATE</h3>
        <p>Pick a date from the calendar.</p>
      </div>
    </div>

    <div class="col col-1-3">
      <div class="row">
        <img style="height: 70px;" src="/img/contacts.jpeg" />
      </div>
      <div class="row">
        <h3>CREATE A MEAL </h3>
        <p>To Enjoy An Authenic Meal.</p>
      </div>
    </div>
    <div class="col col-1-3">
      <div class="row">
        <img style="height: 70px;" src="/img/bell-covering-hot-dish.png" />
      </div>
      <div class="row">
        <h3>BROWSE A MEAL</h3>
        <p>Enjoy your meal.</p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
</div>
<div class="container">
  <div class="row">
    <h3 class="center" data-aos="fade-right" data-aos-duration="3000">FEATURED CITIES</h3>
    <hr>
  </div>
  <div class="row center">
    <div class="col col-1-4">
      <div class="card">
        <div class="card_title">
          <h3>BUENOS AIRES</h3>
          <hr>
        </div>
        <div class="card_image">
          <img src="/img/argentina-buenos-aires-city-1060803.jpg" />
        </div>
        <div class="card_content">
          <hr>
          <p>Authenic Meal</p>
          <a>
            <button onclick="order()">Experience The Culture</button>
          </a>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="col col-1-4">
      <div class="card">
        <div class="card_title">
          <h3>PARIS</h3>
          <hr>
        </div>
        <div class="card_image">
          <img src="/img/arc-de-triomphe-arch-architecture-705764.jpg" />
        </div>
        <div class="card_content">
          <hr>
          <p>Authenic Meal</p>
          <a>
            <button onclick="order()">Experience The Culture</button>
          </a>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="col col-1-4">
      <div class="card">
        <div class="card_title">
          <h3>NEW YORK</h3>
          <hr>
        </div>
        <div class="card_image">
          <img src="/img/architecture-buildings-city-2404843.jpg " />
        </div>
        <div class="card_content">
          <hr>
          <p>Authenic Meal</p>
          <a>
            <button onclick="order()">Experience The Culture</button>
          </a>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="col col-1-4">
      <div class="card">
        <div class="card_title">
          <h3>MARRAKESH</h3>
          <hr>
        </div>
        <div class="card_image">
          <img src="/img/alley-apartment-buildings-architecture-2379969.jpg" />
        </div>
        <div class="card_content">
          <hr>
          <p>Authenic Meal</p>
          <a>
            <button onclick="order()">Experience The Culture</button>
          </a>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row center">
  </div>
</div>


<div class="container">
  <div class="row">
    <h3 class="center" data-aos="fade-right" data-aos-duration="3000">FEATURED HOST</h3>
    <hr>
  </div>
  <div class="row center">
    <div class="col col-1-4">
      <div class="card">
        <div class="card_title">
          <h3>Nicolas</h3>
          <hr>
        </div>
        <div class="card_image">

          <img src="../img/Argentinian-meal2.jpg" />
          
   
          


        </div>
        <div class="card_content">
          <hr>
          <p>Authenic Meal</p>
          <a>
            <button onclick="order()">Book A Meal</button>
          </a>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="col col-1-4">
      <div class="card">
        <div class="card_title">
          <h3>Jacquel</h3>
          <hr>
        </div>
        <div class="card_image">

         <img src="../img/french-meal.jpg" />
         
    

        </div>
        <div class="card_content">
          <hr>
          <p>Authenic Meal</p>
          <a>
            <button onclick="order()">Book A Meal</button>
          </a>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="col col-1-4">
      <div class="card">
        <div class="card_title">
          <h3>John</h3>
          <hr>
        </div>
        <div class="card_image">

         <img src="../img/burger1.jpg" />
    
          


        </div>
        <div class="card_content">
          <hr>
          <p>Authenic Meal</p>
          <a>
            <button onclick="order()">Book A Meal</button>
          </a>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="col col-1-4">
      <div class="card">
        <div class="card_title">
          <h3>Nadia</h3>
          <hr>
        </div>
        <div class="card_image">
          <img src="/img/moroccan_meal.jpg" />
        </div>
        <div class="card_content">
          <hr>
          <p>Authenic Meal</p>
          <a>
            <button onclick="order()">Book A Meal</button>
          </a>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row center">
  </div>
</div>

<!-- SignUp Modal -->
<div id="0signupModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span id="0signupSpan" class="close">&times;</span>
      <h2>Create Account</h2>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="container">
          <form class=" center">
            <div class="row">
              <div class="row">
                <div class="input col col-1-2">
                  <i class="material-icons prefix">account_box</i>
                  <input id="0full_name" type="text" placeholder="Full Name" class="validate">
                </div>
                <div class="input col col-1-2">
                  <i class="material-icons prefix">email</i>
                  <input id="0email" type="text" placeholder="Email" class="validate">
                </div>
              </div>
              <div class="row">
                <div class="input col col-1-2">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="0account_password" type="password" placeholder="Password" class="validate">
                </div>
              </div>
            </div>
            <br>
          </form>
          <a href="./customerpage.html">
            <button style="width: 50%">Sign Up</button>
          </a>
          <br>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="modal-footer">
    </div>
  </div>
</div>

<!-- Signin Modal -->
<div id="signinModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span id="signinSpan" class="close">&times;</span>
      <h2>Sign In</h2>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="container">
          <form class=" center">
            <div class="row">
              <div class="row">
                <div class="input col col-1-2">
                  <i class="material-icons prefix">email</i>
                  <input id="email" type="text" placeholder="Email" class="validate">
                </div>
                <div class="input col col-1-2">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="account_password" type="password" placeholder="Password" class="validate">
                </div>
              </div>
            </div>
            <br>
          </form>
          <a href="./customerpage.html">
            <button style="width: 50%">Sign In</button>
          </a>
          <br>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="modal-footer">
    </div>
  </div>
</div>

<!-- Host Signin Modal -->
<div id="hostSigninModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span id="catererSigninSpan" class="close">&times;</span>
      <h2>Sign In</h2>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="container">
          <form class=" center">
            <div class="row">
              <div class="row">
                <div class="input col col-1-2">
                  <i class="material-icons prefix">email</i>
                  <input id="1email" type="text" placeholder="Email" class="validate">
                </div>
                <div class="input col col-1-2">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="1account_password" type="password" placeholder="Password" class="validate">
                </div>
              </div>
            </div>
            <br>
          </form>
          <a href="./hostpage.html">
            <button style="width: 50%">Sign In</button>
          </a>
          <br>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="modal-footer">
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<div class="row">

</div>
<div class="footer">
  <div class="row">
    <p>© 2019 Copyright Travelling-Table by
      <a target="_blank" href="wwww.awsomewebcoding.com">Jacob Zamon, Kim Chau, Georgia Chrissinger, Iman Gure</a>
    </p>
  </div>
</div>
</div>
<!--Import jQuery-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!--Import js scripts-->
<script type="text/javascript">
  function order() {// Get the signinModal
    var signInModal = document.getElementById('signinModal');
    signInModal.style.display = "block";
  }
</script>