<div class ="container">
<div class="row">
  <section class="navigation">
    <div class="nav-container">
    <div class="brand">
        <a href="./">
        <img src="/img/logo2.png" style="height: 50px; float: left;" alt="Logo">Travelling Tables </a>
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!">
          <span></span>
        </a>
        <li><a href="./login">Login</a></li>
        <li><a href="./register">Sigup</a></li>
      </div>
      <ul class="nav-list">
        <li>
        <li><a href="./login">Login</a></li>
        <li><a href="./register">Sigup</a></li>
        </li>
      </ul>
    </nav>
  </section>
</div>
    </section>
    </div>
    <br>
    <figure>
      <div class="row wall center">
        <h2 class="main_title" id="frontTitle">Travelling Tables</h2>
      </div>
      <br>
      <figcaption>Connecting Diners Who Want To Share A Home Cooked Authentic Meal.</figcaption>
    </figure>
    <br>
    <br>
    <div class="container">
  <div class="row">
    <h3 class="center">HOW IT WORKS</h3>
    <hr>
  </div>
  <div class="row center"  data-aos="fade-left" data-aos-duration="3000">
    <div class="col col-1-3">
      <div class="row">
        <img style="height: 70px;" src="/img/calendar.png" />
      </div>
      <div class="row">
        <h3>PICK A DATE</h3>
        <p>Pick a date from the calendar.</p>
      </div>
    </div>
    <div class="col col-1-3">
      <div class="row">
        <img style="height: 70px;" src="/img/contacts.jpeg" />
      </div>
      <div class="row">
        <h3>CREATE A MEAL </h3>
        <p>To Enjoy An Authenic Meal.</p>
      </div>
    </div>
    <div class="col col-1-3">
      <div class="row">
        <img style="height: 70px;" src="/img/bell-covering-hot-dish.png" />
      </div>
      <div class="row">
        <h3>BROWSE A MEAL</h3>
        <p>Enjoy your meal.</p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
</div>
<div class="container">
  <div class="row">
    <h3 class="center">FEATURED CITIES</h3>
    <hr>
  </div>
  <div class="row center"  data-aos="fade-right" data-aos-duration="3000">
    <div class="col col-1-4">
      <div class="card">
        <div class="card_title">
          <h3>BUENOS AIRES</h3>
          <hr>
        </div>
        <div class="card_image">
          <img src="/img/argentina-buenos-aires-city-1060803.jpg" />
        </div>
        <div class="card_content">
          <hr>
          <p>Authenic Meal</p>
        </div>
      </div>
    </div>
  <div class="col col-1-4">
    <div class="card">
      <div class="card_title">
        <h3>PARIS</h3>
        <hr>
      </div>
      <div class="card_image">
        <img src="/img/arc-de-trimphe1.jpg" />
      </div>
      <div class="card_content">
        <hr>
          <p>Authenic Meal</p>
        </div>
      </div>
    </div>
    <div class="col col-1-4">
      <div class="card">
        <div class="card_title">
          <h3>NEW YORK</h3>
          <hr>
        </div>
        <div class="card_image">
          <img src="/img/New York.jpeg " />
        </div>
        <div class="card_content">
          <hr>
          <p>Authenic Meal</p>
        </div>
      </div>
    </div>
    <div class="col col-1-4">
      <div class="card">
        <div class="card_title">
          <h3>MARRAKECH</h3>
          <hr>
        </div>
        <div class="card_image">
          <img src="/img/alley-apartment-buildings-architecture-2379969.jpg" />
        </div>
        <div class="card_content">
          <hr>
          <p>Authenic Meal</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row center">
  </div>
</div>
<div class="container">
  <div class="row">
    <h3 class="center">FEATURED HOST</h3>
    <hr>
  </div>
  <div class="row center"  data-aos="fade-left" data-aos-duration="3000">
    <div class="col col-1-4">
      <div class="card">
        <div class="card_title">
          <h3>Nicolas</h3>
          <hr>
        </div>
        <div class="card_image">
          <img src="/img/Argentinian-meal2.jpg" />
        </div>
        <div class="card_content">
          <hr>
          <p>Authenic Meal</p>
        </div>
      </div>
    </div>
    <div class="col col-1-4">
      <div class="card">
        <div class="card_title">
          <h3>Jacquel</h3>
          <hr>
        </div>
        <div class="card_image">
          <img src="/img/french-meal.jpg" />
        </div>
        <div class="card_content">
          <hr>
          <p>Authenic Meal</p>
        </div>
      </div>
    </div>
    <div class="col col-1-4">
      <div class="card">
        <div class="card_title">
          <h3>John</h3>
          <hr>
        </div>
        <div class="card_image">
          <img src="/img/burger1.jpg" />
        </div>
        <div class="card_content">
          <hr>
          <p>Authenic Meal</p>
        </div>
      </div>
    </div>
    <div class="col col-1-4">
      <div class="card">
        <div class="card_title">
          <h3>Nadia</h3>
          <hr>
        </div>
        <div class="card_image">
          <img src="/img/moroccan_meal.jpg" />
        </div>
        <div class="card_content">
          <hr>
          <p>Authenic Meal</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row center">
  </div>
</div>
    <br>
    <br>
  </div>
</div>
<div class="container">
  <div class="row">
    <h3 class="center">Want To Create Event?</h3>
    <hr>
  </div>
  <div class="row center"  data-aos="fade-right" data-aos-duration="3000">
    <a href="./create" id="eventCreation">Create Event!</a>
  </div>
  <br>
  <br>
  <div class="row center">
  </div>
</div>
<div class="container">
  <div class="row">
    <h3 class="center">Events created!</h3>
    <hr>
  </div>
  <div class="row center"  data-aos="fade-left" data-aos-duration="3000">
    <h1>Event created LOl!</h1>
  </div>
  <br>
  <br>
  <div class="row center">
  </div>
</div>
<br>
<br>
<br>
<br>
<div class="row">
</div>
<div class="footer">
  <div class="row">
    <p>© 2019 Copyright Travelling-Table by
      <a target="_blank" href="wwww.awsomewebcoding.com">Jacob Zamano, Kim Chau, Georgia Chrisinger, Iman Gure</a>
    </p>
  </div>
</div>
</div>
{{!-- <!--Import jQuery-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!--Import js scripts-->
<script type="text/javascript">
  function order() {// Get the signinModal
    var signInModal = document.getElementById('signinModal');
    signInModal.style.display = "block";
  }
</script> --}}