<div class="container">
    <div class="col-sm-6 col-sm-offset-3 mt-5">
        <h1>About Me</h1>
        <br>
        <div class="card-body">
            <h4>name {{firstName}}</h4>
            <h4>state {{state}}</h4>
            <h4>country {{country}}</h4>
            <br>
            <h4>bio {{bio}}</h4>
        </div>
    </div>
</div>