<div class="container">
    <!-- row 1 -->
    <div class="row">
        <!-- col 1 -->
        <div class="col-sm">
            <div class="card">
                <h1 class="card-header">User Info</h1>
                <div class="card-body" style="height: 80px; font-weight: bold ">
                    <p>Name: {{#username}}</p>
                    <p>Location: {{#userlocation}}</p>
                    <p>Contact: {{#usercontact}}</p>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- row 1 -->
            <div class="row">
                <!-- col 1 -->
                <div class="col-sm">
                    <div class="card">
                        <h1 class="card-header">Bio Bite</h1>
                        <div class="card-body" style="height: 80px; font-weight: bold ">
                            <p>Nibble me: {{#userbio}}</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>